<div id="input">
  <form action="/api/v2/convert" id="notepad_form" method="post">
    <textarea id="notepad" name="text"><%= DEFAULT_MARKDOWN %></textarea>
  </form>
</div>
<div id="output" class="markdown"><%= DEFAULT_HTML %></div>
<textarea id="html-output"><%= DEFAULT_HTML %></textarea>
<div id="loading"></div>

<span id="output-switches">
Show:
<ul>
<li><a id="richtext-switch" class="active" href="javascript:;">Rich text</a></li>
<li><a id="rawhtml-switch"  href="javascript:;">Raw HTML</a></li>
</ul>
</span>
