@import "reset";
@import "shared";

$app_width: 960px;

// Clear
.clear:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  zoom: 1;
}

// General
html, body {
  background: #ededed;
}

body {
  font-size: 15px;
  line-height: 1.4em;
}

body, input, textarea {
  font-family: $HelveticaNeue;
  color: #333;
}

a {
  color: $linkColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline
  }
}

div#copyright {
  @include shadow;
  width: $app_width;
  margin: 40px auto 30px;
  color: #aaa;
  font-size: 0.85em;

  a {
    color: #aaa;

    &:hover {
      color: $linkColor;
    }
  }

  div {
    float: right;
  }

  div:last-child a {
    margin-left: 0.5em;
  }
}

// Home
div#content {
  width: $app_width;
  margin: 50px auto 0;
  position: relative;

  > div {
    float: left;
  }

  div#input {
    width: $app_width / 2 - 20;
    margin-right: 40px;
  }

  div#output, textarea {
    width: $app_width / 2 - 32;
    height: 390px;
    border: 1px solid #999;
    background: #fff;
    padding: 5px;
    overflow-y: auto;
  }

  textarea {
    font-family: Monaco, "Courier New", Courier, monospace;
    font-size: 0.9em;
    resize: none;
  }

  textarea#raw-output {
    display: none;
  }
}

span#parser-container {
  position: absolute;
  bottom: -32px;
  left: -2px;
  color: #444;
  font-size: 0.8em;
}

div#loading {
  display: none;
  width: 21px;
  height: 5px;
  background: image_url('dots-white.gif') no-repeat;
  position: absolute;
  bottom: -23px;
  left: 340px;
  -webkit-transition: all 0.1s linear;
}

#output-switches {
  width: $app_width / 2 - 22;
  font-size: 0.8em;
  position: absolute;
  right: 0;

  ul, li {
    display: inline;
  }

  ul {
    position: absolute;
    right: 0;
    li {
      margin-left: 1em;
      a {
        padding: 4px;
        border: 1px solid transparent;
      }
    }
  }
}

#output-switches {
  a.active {
    color: #777;
    cursor: default;
    text-decoration: none;
    border: 1px solid #aaa;
    border-radius: 4px;
  }
}

#output-switches {
  bottom: -27px;
}

// Markdown
section, .markdown {
  @include markdown_style;
}

@import "syntax";

h1 a {
  text-decoration: none;
}
